.titulo{
    color: red;
    border-bottom: 1px dashed red;
    text-transform: uppercase;
    font-family: calibri;
}

.propaganda{
    font-size: 17px;
    width: 650px;
    text-transform: capitalize;
}

.titulo-preto{
    background-color: black;
    border: 2px dashed red;
    border-radius: 10px;
    padding: 4px;
    width: 220px;
    color: red;
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 82px;
}

.destaque-vermelho{
    color:red;
}

.mensagem{
    position: fixed;
    display: block;
    bottom: 20px;
    z-index: 1;
    right: auto;
    left: auto;
    margin: auto auto;
    width: 960px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: rgba(29, 29, 31, 350);
    text-transform: capitalize;
    text-size-adjust: 17px;
}